<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
        <header>
            <% include ../partials/header %>
        </header>
        <main>
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-5 col-md-6">
                    <% if(data.trailerUrl===undefined) { %>
                    <p>No trailer</p>
                    <% } else {%>
                    <div>
                        <iframe width="380" height="283" src=<%= data.trailerUrl %> allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no" frameborder="0"></iframe>
                    </div>
                    <%}%>
                </div>
                <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
                    <div class="text-primary">
                        <h3>Title: <%= data.metadata.title %></h3>
                    </div>
                    <p>Description:  </p>
                    <small>
                    <%= data.metadata.description %>
                    </small>
                    <p>Rating: </p><%= data.imdb.rating%> from <%= data.imdb.votes %> viewers
                </div>
            </div>
        </div>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
        
    </body>
</html>